<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_5.xsd">
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>InitServlet</servlet-name>
		<servlet-class>com.dts.core.util.InitServlet</servlet-class>

		<init-param>
			<param-name>config</param-name>
			<param-value>/WEB-INF/config/system.properties</param-value>
		</init-param>

		<load-on-startup>0</load-on-startup>

	</servlet>

	<servlet-mapping>
		<servlet-name>InitServlet</servlet-name>
		<url-pattern>/initservlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ActionServlett</servlet-name>
		<servlet-class>com.dts.core.action.ActionServlett</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ActionServlett</servlet-name>
		<url-pattern>/ActionServlett</url-pattern>
	</servlet-mapping>
	<!-- Framework Controller Configuration -->
	<servlet>
		<servlet-name>DispatchController</servlet-name>
		<servlet-class>com.dts.core.control.DispatchController</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>ExportController</servlet-name>
		<servlet-class>com.dts.core.control.ExportController</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>ReportController</servlet-name>
		<servlet-class>com.dts.core.control.ReportController</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>UIController</servlet-name>
		<servlet-class>com.dts.core.control.UIController</servlet-class>
	</servlet>

	<!-- Framework Controller Mapping -->
	<servlet-mapping>
		<servlet-name>DispatchController</servlet-name>
		<url-pattern>/DispatchController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ExportController</servlet-name>
		<url-pattern>/ExportController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReportController</servlet-name>
		<url-pattern>/ReportController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UIController</servlet-name>
		<url-pattern>/UIController</url-pattern>
	</servlet-mapping>

	<!-- Supported Export Modes of ExportController -->
	<servlet>
		<servlet-name>ExportPDF</servlet-name>
		<servlet-class>com.dts.core.export.ExportPDF</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>ExportTXT</servlet-name>
		<servlet-class>com.dts.core.export.ExportTXT</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>ExportXLS</servlet-name>
		<servlet-class>com.dts.core.export.ExportXLS</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ExportPDF</servlet-name>
		<url-pattern>/ExportPDF</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ExportTXT</servlet-name>
		<url-pattern>/ExportTXT</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ExportXLS</servlet-name>
		<url-pattern>/ExportXLS</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AS</servlet-name>
		<servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AS</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>


	<welcome-file-list>
		<welcome-file>LoginForm.jsp</welcome-file>
	</welcome-file-list>
</web-app>
