<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/context/spring-context-4.0.xsd
						http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/context">

	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
  		<property name="location">
   			 <value>../config/system.properties</value>
  		</property>
	</bean>
	
	<!-- to activate annotations in beans already registered in the application context -->
	<context:annotation-config />

	<!-- scans packages to find and register beans within the application context -->
	<context:component-scan base-package="com.dts.core.dao.AbstractDataAccessObjec" />
	
	<bean id="ds" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="${driver}" />
		<property name="url" value="${url}" />
		<property name="username" value="${duser}" />
		<property name="password" value="${dpass}" />
	</bean>

	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="ds"></property>
	</bean>
<!--
	<bean id="edao" class="com.dts.core.dao.AbstractDataAccessObject">
		<property name="jdbcTemplate" ref="jdbcTemplate"></property>
	</bean>
-->
</beans>